 
 
.node {
    stroke: #000;
    stroke-width: 0.5px;
}


.node-cluster{
    stroke: #000;
    fill: rgb(79,147,222);
    stroke-width: 0.5px;
}

.node-landmark{
    stroke: #000;
    fill: rgb(255,117,128);
    stroke-width: 0.5px;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}



.label-cluster {
    fill: rgb(200,200,200);
    font-size: 2;
    opacity: 0.8;
}

.label-landmark {
    fill: rgb(0,0,0);
    font-size: 4;
}
